html {
    background-color: gainsboro;
}
/*.navbar{
    background-color: darkslateblue;
    border-radius: 10px

}*/
.navbar-brand{
    background-color:turquoise;
    padding: 5px;
    color: white;
    font-weight: bold;

}

.plot-title {
    margin-top: 30px;
    padding: 20px;
    font-weight: bold;
    color:rgb(69, 187, 175);

}

.plot {
    padding:40px;
}
.observations {
    position: relative;
    top: 60px;
    text-align: left;
}

@media screen and (max-width: 1000px) {
    .observations {
        position: relative;
        top: 10px;
        font-size: 15px;
    }
}

.compare-title1 p{
    padding-bottom: 30px;
}

.compare-title1 h1 {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 35px;
}
.compare-title2 {
    font-size: 20px;
    font-weight: bold;
    color:rgb(69, 187, 175);
    text-align: center;
}

.compare {
    margin-top: 60px;
    padding-bottom: 20px;
}
.jumbotron{
    padding: 30px 30px;
    margin-top: 40px;
}


@media screen and (min-width: 768px) {
.jumbotron .h1, .jumbotron h1 {
    font-size: 50px;
    color:rgb(69, 187, 175);
}
}
.container {
    margin-top:20px;
}

h4 {
    color:rgb(69, 187, 175);
    padding: 20px;
}

.data h1{
    font-weight: bold;
    font-size: 35px;
    color:rgb(69, 187, 175);

}
.dataframe {
    text-align: center;
    border: None;
    margin-top: 50px;
}

thead th {
    text-align: center;
    border: None;
}
footer {
    margin-top:50px;
}
@media screen and (max-width: 1000px) {
    .compare-title1 h1 {
        font-size: 25px;
    }
    .compare-title1 p {
        font-size: 10px;
    }
}
