html {
    background-color: gainsboro;
}
/*.navbar{
    background-color: darkslateblue;
    border-radius: 10px

}*/
.navbar-brand{
    background-color:turquoise;
    padding: 5px;
    color: white;
    font-weight: bold;

}

.plot-title {
    margin-top: 70px;
    padding: 20px;
}

.plot {
    padding:40px;
}
.observations {
    position: absolute;
    padding: 30px;
    bottom: 40%;
    margin-right: 70px;
    text-align: left;
    font-size: 20px;
}

/*.dropdown-menu {
    color:black;
}

#navbarNavDropdown.collapse.navbar-collapse{
    position: absolute;
    right: 20px;
}
.navbar-nav li, .navbar-nav li a{
    display: inline-block;
    padding: 10px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    border-radius: 3px;
    color: white;
}

.dropdown-menu li a{
    color:black;
}*/


.compare-title {
    font-size: 30px;
    font-weight: bold;
}

.compare {
    margin-top: 60px;
}
.jumbotron{
    padding: 30px 30px;
    margin-top: 40px;
}


@media screen and (min-width: 768px) {
.jumbotron .h1, .jumbotron h1 {
    font-size: 50px;
    color:rgb(69, 187, 175);
}
}
.container {
    margin-top:20px;
}

h4 {
    color:rgb(69, 187, 175);
    padding: 20px;
}

.data {
    margin-top: 100px;
}
.dataframe {
    text-align: left;
    border: None;
    margin-top: 50px;
}

thead th {
    text-align: center;
    border: None;
}
footer {
    margin-top:50px;
}

